@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');

p, a, td {
    font-family: "Bree Serif" !important;
}

h1, h2, h3, h4, h5, section.desc a {
    font-family: "Pirata One" !important;
}

.navbar img {
    height: 65px;
}

.navbar > div > div > ul > li > a:hover {
    background-color:rgb(180, 3, 26) !important;
}

section.desc img {
    height: 250px;
    width: auto;
}

section.conc a, section.contacts button {
    background-color: rgb(180, 3, 26) !important;
    border: rgb(180, 3, 26) !important;
}

section.conc a:hover, section.contacts button:hover {
    background-color: rgb(149, 3, 22) !important;
    border: rgb(149, 3, 22) !important;
}

section.conc table {
    max-width: 700px;
    margin: auto;
}

section.desc a:hover {
    color: rgb(204, 82, 99);
}

textarea {
    resize: none;
  }


footer > .d-flex.gap-4.align-items-center a > svg {
    position: relative;
    transition: all linear 0.2s;
}

footer > .d-flex.gap-4.align-items-center a:hover > svg {
    transform: translateY(-5px);
    scale: 110%;
    color: rgb(204, 82, 99);
}

footer > .d-flex.justify-content-center.gap-4 a, section.desc a, section.banner a > svg {
    transition: all linear 0.2s;
}

section.banner a:hover > svg {
    color: rgb(204, 82, 99);
}

footer > .d-flex.justify-content-center.gap-4 a:hover {
    color: rgb(204, 82, 99) !important;
}

@media (min-width: 992px) {
    .navbar img {
        height: 110px;
    }
}